* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin-bottom: 15px;
  text-align: center;
}

h3 {
  float: right;
  clear: both;
  width: 150px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: -2px;
  margin-right: -2px;
  margin-bottom: 10px;
  text-align: center;
  border: 2px solid black;
}


p {
  text-align: justify;
  width: 94%;
  margin: 3%;
  font-size: 120%;
  clear: both;
  margin-right: auto;
  margin-left: auto;
  color: black;
}

.chicken {
	background-color: #D59898;
}

.beef {
	background-color: #C14543;
}

h3.beef {
	color: #FEFEFE;
}

.sushi {
	background-color: #E5D198;	
}


/* Simple Responsive Framework. */
.row {
  width: 100%;
}


/********** Small devices only ***********/
@media (max-width: 767px) {
	#col1, #col2, #col3 {
  		clear: both;
		background-color: #999999;
		border: 2px solid black;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		margin-bottom: 20px;
	}
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #col1 {
  	background-color: #999999;
  	border: 2px solid black;
  	float: left;
    width: 46.25%;
    margin-bottom: 20px;
    margin-left: 2.5%;
    margin-right: 1.25%;
  }
  #col2 {
  	background-color: #999999;
  	border: 2px solid black;
  	float: left;
    width: 46.25%;
    margin-bottom: 20px;
    margin-left: 1.25%;
    margin-right: 2.5%;
  }

  #col3 {
  	background-color: #999999;
  	border: 2px solid black;
  	clear: both;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-top: 20px;
  }

  p#p3 {
  	width: 97%;
	margin: 1.5%;
  }
}
/********** Large devices only **********/
@media (min-width: 992px) {
  #col1, #col2, #col3 {
  	background-color: #999999;
  	float: left;
    border: 2px solid black;
    width: 31.33%;
    margin: 1%;
  }

}
